*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s;
}

.card{
    overflow: hidden;
}

.card:hover{
    overflow-y: auto;
}

.hover:hover {
    cursor: pointer;
    background-color: rgb(233, 233, 233);
}